* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

/* ********************** */
/* NAVIGATION SECTION */
/* ********************** */

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1f2937;

  height: 96px;
  padding: 0 48px;
}

.nav-logo {
  font-size: 24px;
  color: #f9faf8;
  font-weight: 700;
}

.main-nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 32px;
}

.main-nav-link:link,
.main-nav-link:visited {
  /* display: inline-block; */

  text-decoration: none;
  color: #adadad;
  transition: all 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #fff;
}

/* .main-nav {
  display: flex;
  justify-content: space-between;
  padding: 8px;
  width: 800px;
}

.nav-logo {
  font-size: 24px;
  color: #f9faf8;
  font-weight: 700;
}

.nav-list {
  display: flex;
  gap: 16px;
}

.left-nav,
.right-nav {
  display: flex;
  align-items: center;
  gap: 16px;
}

.nav-links li {
  list-style: none;
}

.nav-links a {
  color: #adadad;
  text-decoration: none;
} */

/* 
**********************
HEADER
**********************
*/

.section-header {
  background-color: #1f2937;
}

.header {
  display: flex;
}

.header-left {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.header-right {
  display: flex;
  flex: 1;
}

.primary-heading {
  color: #fff;
  font-size: 48px;
}

.header-text {
  color: #fff;
}

.placeholder-text {
  color: #fff;
}
