* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.section-nav {
  background-color: #1f2937;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-nav {
  display: flex;
  justify-content: space-between;
  padding: 8px;
  width: 800px;
}

.header-logo {
  font-size: 24px;
  color: #f9faf8;
  font-weight: 700;
}

.nav-links {
  display: flex;
  gap: 16px;
}

.left-nav,
.right-nav {
  display: flex;
  align-items: center;
  gap: 16px;
}

.nav-links li {
  list-style: none;
}

.nav-links a {
  color: #adadad;
  text-decoration: none;
}
